.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: middle;
}

.starHalf {
  width: 8px;
}
