.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  vertical-align: middle;
}

.starHalf {
  width: 8px;
}

.whatsapp path {
  fill: #55cb61;
}

.facebook path {
  fill: #3a579a;
}

.whatsapp path,
.facebook path,
.envelope path,
.tick path,
.share path,
.copy path {
  fill-rule: evenodd;
  clip-rule: evenodd;
}
