@import 'theme.scss';

$loading-size-small: 1rem !default;
$loading-size-medium: 1.5rem !default;
$loading-size-large: 2.5rem !default;
$loading-circle_stroke-width: 1.25rem !default;
$loading-circle_stroke-color: $aqua !default;
$loading-circle_animation-duration: 0.95s !default;

.loading {
  text-align: center;
  transform-origin: center center;
  animation: loading $loading-circle_animation-duration linear infinite;
}

.svg {
  width: 1em;
  height: 1em;
  display: block;
  margin: 0 auto;
}

.small {
  font-size: $loading-size-small;
}

.medium {
  font-size: $loading-size-medium;
}

.large {
  font-size: $loading-size-large;
}

.circle {
  stroke-dashoffset: 0;
  stroke-dasharray: 220;
  stroke-width: $loading-circle_stroke-width;
  stroke-linecap: round;
  stroke: $loading-circle_stroke-color;
  fill: transparent;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(295deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
