@import '../../style/colors';

.container {
  font-size: 12px;
}

.axis,
.chart {
  height: 150px;
  margin: 0 50px;

  > * {
    display: inline-block;
    width: calc(100% / 14);
    flex: 0 0 calc(100% / 14);

    button {
      width: 100%;
    }
  }
}

.chart {
  display: flex;
  align-items: flex-end;
}

.axis {
  margin: 0 10px;
  height: auto;
  width: 100%;
}

.bar {
  background: #4284d2;
  color: #fff;
  display: flex;
  font-size: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px 2px;
  transition: all 0.3s ease-out;
}

.bar_notInRange {
  composes: bar;
  background: #eaf2fe;
  color: #2a4d8f;
}

.bar_cheapest {
  composes: bar;
  background: #5fa800;
}

.loading_wrapper {
  padding: 2px;
}

.bar_loading {
  composes: bar;
  background: $black-5;
}

.bar_placeholder {
  composes: bar;
  background: $black-5;
}

.axisContainer {
  display: flex;
  padding-top: 10px;
}

.button {
  width: 40px;
  line-height: 1;
  height: 40px;
  text-align: center;
  background: #2a4d8f;
  color: #fff;
  border: 0;
  margin: 0;
  padding: 5px;
  font-size: 24px;

  &:focus {
    outline: 0;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.label {
  text-align: center;
  padding: 6px 6px;
}

.tooltip {
  * {
    text-align: center;
  }

  strong {
    display: block;
    font-size: 1.2em;
    font-weight: 700;
  }
}
