.container {
  font-family: sans-serif;
  font-size: 12px;
}

.chart,
.bar,
.axis {
  box-sizing: border-box;
}

.chart,
.axis {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: nowrap;
  width: calc(100% - 100px);
  margin: 0 auto;
  padding: 0 10px;
}

.chart {
  border-bottom: 1px solid #c6d8f5;
  height: 160px;
  padding: 10px 10px 0;

  > * {
    flex: 1 0 auto;
  }

  button {
    width: 100%;
    margin-bottom: -2px;
  }
}

.bar {
  font-size: 10px;
  box-sizing: border-box;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  display: flex;
  padding: 5px 2px;
  background: #4284d2;
  color: #fff;
  transition: all 0.33s ease-out;
}

.bar_notInRange {
  composes: bar;
  background: #eaf2fe;
  color: #2a4d8f;
}

.bar_cheapest {
  composes: bar;
  background: #5fa800;
}

.label {
  composes: bar;
  font-size: 12px;
  text-align: center;
  height: auto;
  background: transparent;
  color: inherit;
  padding: 5px;
}

.axisContainer {
  display: flex;
  padding-top: 10px;
}

.button {
  width: 2rem;
  height: 2rem;
  line-height: 1;
  text-align: center;
  background: #2a4d8f;
  color: #fff;
  border: 0;
  margin: 0;
  padding: 5px;
  font-size: 1.8em;
  align-self: center;

  &:focus {
    outline: 2px solid #4284d2;
    outline-offset: 2px;
  }
}

.tooltip {
  text-align: center;

  strong {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
  }
}
