@import 'theme.scss';

$priceHistory-chart-baseBackgroundColor: $blue-lighter !default;
$priceHistory-chart-baseColor: $blue !default;
$priceHistory-bar-backgroundColor: $aqua !default;
$priceHistory-bar-outrange-backgroundColor: $priceHistory-chart-baseBackgroundColor !default;
$priceHistory-bar-cheapest-backgroundColor: $link-hover !default;
$priceHistory-bar-fontColor: $white !default;
$priceHistory-dateReset-color: $aqua !default;

.container {
  font-size: 12px;
  background: $white;
  padding: 10px;
  margin-bottom: 10px;
  display: block;
  h2 {
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 23px;
    font-weight: bold;
    color: $priceHistory-chart-baseColor;
    svg {
      margin-right: 17px;
    }
    span {
      flex-grow: 1;
    }
  }
}

.bold {
  font-weight: 700;
}

.chart {
  height: 150px;
  padding: 0 42px;

  > * {
    display: inline-block;
    width: calc(100% / 14);
    flex: 0 0 calc(100% / 14);

    button {
      width: 100%;
      cursor: pointer;
    }
  }
}

.chart {
  display: flex;
  align-items: flex-end;
}

.dateHeader {
  text-align: center;
  margin: 12px 0;
  color: $priceHistory-chart-baseColor;
  font-size: 20px;
  line-height: 22px;
}

.axis {
  margin: 0 10px;
  width: 100%;
  display: flex;
  align-items: center;

  > * {
    display: inline-block;
    width: calc(100% / 14);
    flex: 0 0 calc(100% / 14);
  }
}

.bar {
  background: $priceHistory-bar-backgroundColor;
  color: $priceHistory-bar-fontColor;
  display: flex;
  font-size: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px 2px;
  transition: all 0.3s ease-out;
  text-align: center;
}

.bar_notInRange {
  composes: bar;
  background: $priceHistory-bar-outrange-backgroundColor;
  color: $priceHistory-chart-baseColor;
}

.bar_cheapest {
  composes: bar;
  background: $priceHistory-bar-cheapest-backgroundColor;
}

.loading_wrapper {
  padding: 2px;
}

.bar_loading {
  composes: bar;
  padding: 7px 2px 6px;
  background: $black-5;
}

.bar_placeholder {
  composes: bar;
  background: $black-5;
}

.axisContainer {
  display: flex;
  padding-top: 10px;
}

.button {
  flex: 0 0 32px;
  line-height: 1;
  height: 32px;
  text-align: center;
  background: $priceHistory-chart-baseColor;
  color: $white;
  border: 0;
  margin: 0;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;

  &:focus {
    outline: 0;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.label {
  text-align: center;
  padding: 2px 8px;
}

.tooltip {
  text-align: center;
  width: 175px;

  > div > div {
    font-size: 1.2em;
    font-weight: 700;
  }
}

.dateReset {
  cursor: pointer;
  font-size: 16px;
  color: $priceHistory-dateReset-color;
  text-align: center;
  padding: 15px 0;
  strong {
    font-weight: bold;
  }
}

.clickable {
  cursor: pointer;
}

@include respond-below(sm) {
  .container {
    h2 {
      font-size: 16px;
      line-height: 22px;
    }
  }
  .chart {
    height: 165px;
    border-bottom: 2px solid $priceHistory-chart-baseBackgroundColor;
    padding: 0 11px;
  }

  .mobileBarWrapper {
    text-align: center;
    position: relative;
    top: 7px;
  }

  .bar {
    display: inline-block;
    width: 28px;
  }

  .axis {
    margin: 0;
  }

  .price {
    font-size: 10px;
    line-height: 14px;
    color: $priceHistory-chart-baseColor;
    font-weight: bold;
    display: block;
    text-align: center;
  }

  .button {
    background: transparent;
    color: $priceHistory-chart-baseColor;
    padding: 0;
    flex: 0 0 11px;
  }
}
