@import 'theme.scss';

.container {
  font-size: 12px;
  background: $white;
  padding: 10px;
  margin-bottom: 10px;
  display: none;

  @include respond-above(sm) {
    display: block;
  }
}

.bold {
  font-weight: 700;
}

.chart {
  height: 150px;
  margin: 0 42px;

  > * {
    display: inline-block;
    width: calc(100% / 14);
    flex: 0 0 calc(100% / 14);

    button {
      width: 100%;
    }
  }
}

.chart {
  display: flex;
  align-items: flex-end;
}

.axis {
  margin: 0 10px;
  width: 100%;

  > * {
    display: inline-block;
    width: calc(100% / 14);
    flex: 0 0 calc(100% / 14);
  }
}

.bar {
  background: #4284d2;
  color: #fff;
  display: flex;
  font-size: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px 2px;
  transition: all 0.3s ease-out;
}

.bar_notInRange {
  composes: bar;
  background: #eaf2fe;
  color: #2a4d8f;
}

.bar_cheapest {
  composes: bar;
  background: #5fa800;
}

.loading_wrapper {
  padding: 2px;
}

.bar_loading {
  composes: bar;
  background: $black-5;
}

.bar_placeholder {
  composes: bar;
  background: $black-5;
}

.axisContainer {
  display: flex;
  padding-top: 10px;
}

.button {
  flex: 0 0 32px;
  line-height: 1;
  height: 32px;
  text-align: center;
  background: #2a4d8f;
  color: #fff;
  border: 0;
  margin: 0;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;

  &:focus {
    outline: 0;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.label {
  text-align: center;
  padding: 2px 6px;
}

.tooltip {
  text-align: center;
  width: 175px;

  > div > div {
    font-size: 1.2em;
    font-weight: 700;
  }
}
