@import 'theme.scss';

$inactivityBanner-text-color: $blue !default;

.banner {
  background-color: white;
  padding: 20px;
  width: 580px;
  max-width: 100%;
  display: flex;

  button {
    margin-top: 20px;
  }
}

.icon {
  margin: 10px 40px 0 0;
}

.content {
  flex-grow: 1;
  color: $inactivityBanner-text-color;

  h2 {
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    padding-bottom: 10px;
  }
  p {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 5px;
  }
}

@include respond-below(sm) {
  .banner {
    flex-direction: column;
    text-align: center;
    max-width: 290px;
    button {
      width: 100%;
      text-align: center;
    }
  }
  .icon {
    margin: 0 0 20px 0;
  }

  .icon,
  .content,
  .content > * {
    text-align: center;
  }
}
