@import '../variables.scss';

.servicebanner {
  position: relative;
  font-family: Arial, sans-serif;
  font-size: $text_heading;
  background: $white;
  color: $blue-900;

  &::after {
    content: '';
    display: block;
    clear: both;
  }

  @media (min-width: 768px) {
    font-size: $text_heading;
    background: #e7f2fe;
  }
}

.button {
  position: absolute;
  top: 0;
  width: 32px;
  height: 100%;
  background: $black-5;
  border: 0;
  color: $white;
  font-size: 24px;
  z-index: 10;

  &:focus,
  &:hover {
    background: $black-10;
  }
}

.prev {
  composes: button;
  left: 0;
  background: none;
}

.next {
  composes: button;
  right: 0;
}

.colImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 100%;

  @media (min-width: 768px) {
    height: 104px;
    width: 150px;
  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(
    0% 0%,
    calc(100% - 16px) 0,
    100% 50%,
    calc(100% - 16px) 100%,
    0% 100%
  );
}

.colMid {
  width: calc(100% - 134px);
  margin-right: 36px;
  padding: 4px 0 8px;
  float: right;
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
    float: left;
    margin: 0 0 0 250px;
    padding: 22px 32px 0 0;
    width: calc(45% - 75px);
    font-size: 16px;
    height: 72px;
  }
}

.times {
  display: none;
}

.colEnd {
  padding: 4px;
  text-align: center;
  width: calc(100% - 134px);
  margin-right: 36px;
  float: right;

  @media (min-width: 768px) {
    width: calc(42% - 185px);
    margin: 0;
    padding: 16px;
    background: #c9def6;
    height: 72px;
    clip-path: polygon(100% 0, 0 0, 16px 50%, 0 100%, 100% 100%);
  }
}

.colfull {
  width: calc(100% - 134px);
  margin-right: 36px;
  float: right;
  text-align: center;

  @media (min-width: 768px) {
    width: 100%;
    margin: 0;
    padding: 8px 0;
    background: #fff;
  }
}

.agentName {
  @media (max-width: 768px) {
    display: none;
  }
  @media (min-width: 768px) {
    color: currentColor;
    text-shadow: none;
    position: static;
    width: 150px;
    float: left;
    margin: 0;
  }
  @media (max-width: 970px) {
    font-size: $text_secondary;
  }
}
.agentNameMobile {
  @media (min-width: 768px) {
    display: none;
  }
  @media (max-width: 768px) {
    color: currentColor;
    text-shadow: none;
    position: static;
    margin-right: 5px;
  }
}
.agentExperience {
  width:auto;
  font-size: $text_heading;
  @media (min-width: 768px) {
    font-size: inherit;
    float: left;
    text-align: left;
    padding-left: 100px;
  }
  @media (max-width: 970px) {
    font-size: $text_secondary;
  }
}

.availability {
  display: none;
  @media (min-width: 768px) {
    display: block;
    font-size: $text_secondary;
  }
  @media (min-width: 1024px) {
    font-size: $text_heading;
  }
}

.hotline {
  background: $blue-900;
  color: $white;
  text-decoration: none;
  padding: 4px;
  line-height: 1;
  font-weight: 700;
  margin-left: 4px;
  display: inline-block;

  @media (min-width: 768px) {
    padding: 0;
    background: none;
    color: inherit;
    font-size: $text_secondary;
    margin-top: 15px;
  }
  @media (min-width: 1024px) {
    font-size: $text_heading;
  }
}

.serviceElementText {
  white-space: pre-wrap;
  font-size: $text_secondary;
  vertical-align: center;
  margin: auto;
  font-size: $text_secondary;
  @media (min-width: 768px) {
    font-size: inherit;
    text-align: left;
  }
  @media (max-width: 970px) {
    font-size: $text_secondary;
  }
}
.agentAdviceText {
  @media (max-width: 945px) {
    visibility: hidden;
  }
  @media (min-width: 946px) {
    font-size: $text_heading;
    float: right;
    text-align: right;
    padding-right: 45px;
  }
  @media (max-width: 970px) {
    font-size: $text_secondary;
  }
}

.agentAdviceTextMobile {
  font-size: $text_secondary;
  @media (min-width: 945px) {
    visibility: hidden;
  }
}
