@import '../../style/_media-queries.scss';
@import '../../style/_colors.scss';

.servicebanner {
  position: relative;
  background: $white;
  color: $blue;

  @include respond-above(xs) {
    font-size: 14px;
  }
}

.prev,
.next {
  position: absolute;
  top: 0;
  width: 24px;
  height: 100%;
  border: 0;
  color: $white;
  font-size: 21px;
  z-index: 10;
  text-align: center;
  padding: 0;
  filter: drop-shadow(0 0 1px $black-5);
  background: transparent;
  cursor: pointer;

  &:focus,
  &:hover {
    outline: 0;
  }

  @include respond-above(sm) {
    font-size: 28px;
    width: 32px;
  }
}

.prev {
  left: 0;
}

.next {
  right: 0;
  background: $black-5;

  @include respond-above(sm) {
    background: transparent;
  }
}

.row {
  display: flex;
  justify-content: stretch;
}

.colImg {
  flex: 1 1 auto;
  min-height: 104px;
  max-width: 131px;
  background: $blue-light;
  position: relative;
  overflow: hidden;

  &:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-width: 60px 16px;
    border-color: $white;
    border-style: solid;
    border-left-color: transparent;
    position: absolute;
    top: 50%;
    right: -16px;
    transform: translateY(-50%);

    @include respond-above(sm) {
      border-color: $blue-bright;
      border-left-color: transparent;
    }
  }
}

.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block;
}

.infoCol {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 2vw 6vw 1vw 1vw;
  text-align: center;
  position: relative;
  overflow: hidden;

  @include respond-above(sm) {
    padding: 1vw 50px 1vw 1vw;
    flex-direction: row;
    align-items: center;
    z-index: 2;

    &:before {
      content: '';
      width: 210px;
      position: absolute;
      height: 100%;
      background: $blue-light;
      top: 0;
      right: 0;
      z-index: -1;
    }

    &:after {
      content: '';
      display: block;
      z-index: -1;
      width: 0;
      height: 0;
      border-width: 60px 16px;
      border-color: $blue-light;
      border-style: solid;
      border-left-color: transparent;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 194px;
    }
  }
}

.colMid {
  @include respond-above(sm) {
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
}

.agentNameMobile {
  font-weight: 700;

  @include respond-above(sm) {
    display: none;
  }
}

.colEnd {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0 0.25em;

  @include respond-above(sm) {
    margin: 0;
    width: 150px;
    flex-wrap: wrap;
    align-content: center;
  }
}

.agent {
  background: $white;

  @include respond-above(sm) {
    background: $blue-bright;
  }
}

.colfull {
  display: none;

  @include respond-above(sm) {
    font-size: 12px;
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    background: $white;
  }
}

.agentName {
  text-align: center;
  font-weight: 700;
  width: 131px;
}

.agentExperience {
  font-size: $text_sm;
  text-align: center;
  margin: 0 auto;
}

.agentAdvice {
  text-align: center;
  width: 150px;
  margin-right: 6vw;

  @include respond-above(sm) {
    margin-right: 50px;
  }
}

.serviceElementText {
  text-align: center;
  line-height: 1.1;
  margin: 0 auto;
  max-width: 350px;

  @include respond-above(sm) {
    line-height: 1.4;
    width: 28vw;
  }

  br {
    display: none;

    @include respond-above(sm) {
      display: block;
    }
  }

  strong {
    font-style: italic;
    font-weight: 700;
  }
}

.quoteBegin,
.quoteEnd {
  display: none !important;

  @include respond-above(sm) {
    display: block !important;
    font-size: 1.4em;
    color: $blue-light;
  }
}

.quoteBegin {
  align-self: flex-start;
  margin: -0.25em 0.5em 0 0;
}

.quoteEnd {
  align-self: flex-end;
  transform: translateY(0.25em) translateX(0.5em) scale(-1);
}

.agentExperienceMobile {
  padding-top: 0.25em;
  text-align: center;
  display: block;
  font-size: 0.8em;
  white-space: nowrap;

  @include respond-above(sm) {
    display: none;
  }
}

.availability {
  display: none;

  @include respond-above(sm) {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.hotline,
.hotline:link,
.hotline:hover,
.hotline:visited {
  cursor: pointer;
  background: $blue;
  color: $white;
  text-decoration: none;
  padding: 4px;
  font-weight: 700;
  text-decoration: none;

  @include respond-above(sm) {
    background: transparent;
    color: $blue;
  }
}

.tooltip {
  white-space: nowrap;
  font-size: 12px;
  text-align: center;
  padding: 8px;

  @include respond-above(sm) {
    top: 50%;
    transform: translateY(-50%) !important;
    bottom: auto !important;
    right: calc(100% + 0.75rem);
    left: auto !important;
  }
}
