@import '../media-queries.scss';
@import '../variables.scss';

.servicebanner {
  position: relative;
  font-family: Arial, sans-serif;
  font-size: $text_lg;
  background: $white;
  color: $blue-900;

  &::after {
    content: '';
    display: block;
    clear: both;
  }

  @include respond-above(sm) {
    font-size: $text_lg;
    background: #e7f2fe;
  }
}

.button {
  position: absolute;
  top: 0;
  width: 32px;
  height: 100%;
  background: $black-5;
  border: 0;
  color: $white;
  font-size: 24px;
  z-index: 10;

  &:focus,
  &:hover {
    background: $black-10;
  }
}

.prev {
  composes: button;
  left: 0;
  background: none;
}

.next {
  composes: button;
  right: 0;
}

.row {
  width: 100%;
  height: 104px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  & > div {
    box-sizing: border-box;
  }
  @include respond-below(sm) {
    height: 165px;
  }
}

.infoCol {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  & > div {
    box-sizing: border-box;
  }
  @include respond-below(sm) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.colImg {
  @include respond-above(sm) {
    height: 104px;
    width: 250px;
  }
  @include respond-below(sm) {
    height: 165px;
  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(
    0% 0%,
    calc(100% - 16px) 0,
    100% 50%,
    calc(100% - 16px) 100%,
    0% 100%
  );
}

.colMid {
  padding: 4px 16px 8px;
  text-align: center;
  @include respond-above(sm) {
    text-align: left;
    padding: 22px 32px;
    flex-grow: 1;
    font-size: 16px;
    height: 100%;
  }
}

.times {
  display: none;
}

.colEnd {
  text-align: center;

  @include respond-above(sm) {
    display: block;
    width: 350px;
    margin: 0;
    padding: 16px 40px 16px 16px;
    text-align: right;
    background: #c9def6;
    height: 100%;
    clip-path: polygon(100% 0, 0 0, 16px 50%, 0 100%, 100% 100%);
  }
}

.colfull {
  display: none;
  @include respond-above(sm) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 8px 0;
    background: #fff;
  }
}

.agentName {
  text-align: center;

  @include respond-below(sm) {
    display: none;
  }
  @include respond-above(sm) {
    color: currentColor;
    text-shadow: none;
    width: 150px;
    margin: 0;
  }
  @include respond-between(xs, md) {
    font-size: $text_sm;
  }
}
.agentNameMobile {
  @include respond-above(sm) {
    display: none;
  }
  @include respond-below(sm) {
    color: currentColor;
    text-shadow: none;
    position: static;
    margin-right: 5px;
    font-size: $text_sm;
  }
  @include respond-below(xs) {
    font-size: $text_xs;
  }
}
.agentExperience {
  width: auto;
  font-size: $text_lg;
  @include respond-above(sm) {
    text-align: left;
    white-space: nowrap;
  }
  @include respond-below(md) {
    font-size: $text_sm;
  }
}
.agentExperienceMobile {
  display: none;
  @include respond-below(sm) {
    text-align: center;
    display: block;
    font-size: $text_sm;
  }
  @include respond-below(xs) {
    font-size: $text_xs;
  }
}
.availability {
  display: none;
  @include respond-above(sm) {
    display: block;
    font-size: $text_sm;
    margin-left: 33%;
    text-align: center;
  }
  @include respond-above(md) {
    font-size: $text_lg;
  }
}

.hotline {
  background: $blue-900;
  color: $white;
  text-decoration: none;
  padding: 4px;
  line-height: 1;
  font-weight: 700;
  margin-left: 4px;
  display: inline-block;

  @include respond-above(sm) {
    padding: 0;
    background: none;
    color: $blue-900;
    font-size: $text_sm;
    margin-top: 15px;
  }
  @include respond-above(md) {
    font-size: $text_lg;
  }
  @include respond-below(xs) {
    font-size: $text_xs;
  }
}

.serviceElementText {
  white-space: pre-wrap;
  font-size: $text_sm;
  vertical-align: center;
  margin: auto;
  @include respond-above(sm) {
    text-align: left;
  }
  @include respond-below(xs) {
    font-size: $text_xs;
  }
}
.agentAdviceText {
  text-align: right;
  padding-right: 40px;
  width: 250px;
  @include respond-below(sm) {
    visibility: hidden;
  }
  @include respond-above(md) {
    font-size: $text_lg;
  }
  @include respond-below(md) {
    font-size: $text_sm;
  }
}

.agentAdviceTextMobile {
  font-size: $text_xs;
  @include respond-above(sm) {
    visibility: hidden;
  }
  @include respond-between(xs, sm) {
    font-size: $text_sm;
  }
}
