@import '../media-queries.scss';
@import '../variables.scss';
@import '../globals.scss';
.servicebanner {
  position: relative;
  font-family: Arial, sans-serif;
  font-size: $text_lg;
  background: $white;
  color: $blue-900;

  &::after {
    content: '';
    display: block;
    clear: both;
  }

  @include respond-above(sm) {
    font-size: $text_lg;
    background: #e7f2fe;
  }
}

.button {
  position: absolute;
  top: 0;
  width: 32px;
  height: 100%;
  background: $black-5;
  border: 0;
  color: $white;
  font-size: 24px;
  z-index: 10;

  &:focus,
  &:hover {
    background: $black-10;
  }
}

.prev {
  composes: button;
  left: 0;
  background: none;
}

.next {
  composes: button;
  right: 0;
}

.row {
  width: 100%;
  height: 104px;
  display: flex;
  justify-content: space-between;
  & > div {
    box-sizing: border-box;
  }
  @include respond-below(sm) {
    height: 165px;
  }
}

.infoCol {
  display: inline-flex;
  & > div {
    box-sizing: border-box;
  }
  @include respond-below(sm) {
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
  }
}

.colImg {
  display: inline-block;
  @include respond-above(sm) {
    height: 104px;
    width: 200px;
  }
  @include respond-below(sm) {
    height: 165px;
  }
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(
    0% 0%,
    calc(100% - 16px) 0,
    100% 50%,
    calc(100% - 16px) 100%,
    0% 100%
  );
}

.colMid {
  display: inline-flex;
  justify-content: center;
  padding: 0px 30px;
  text-align: center;
  @include respond-above(sm) {
  }
}

.times {
  display: none;
}

.colEnd {
  text-align: center;
  display: inline-block;

  @include respond-above(sm) {
    display: block;
    width: 220px;
    margin: 0;
    padding: 16px;
    text-align: center;
    background: #c9def6;
    height: 100%;
    clip-path: polygon(100% 0, 0 0, 16px 50%, 0 100%, 100% 100%);
    flex-shrink: 0;
  }
}

.colfull {
  display: none;
  @include respond-above(sm) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 8px 0;
    background: #fff;
  }
}

.agentName {
  text-align: center;
  font-size: $text_sm;
  @include respond-below(sm) {
    display: none;
  }
  @include respond-above(sm) {
    color: currentColor;
    text-shadow: none;
    width: 200px;
    margin: 0;
  }
  @include respond-between(xs, md) {
    font-size: $text_sm;
  }
}
.agentNameMobile {
  @include respond-above(sm) {
    display: none;
  }
  @include respond-below(sm) {
    color: currentColor;
    text-shadow: none;
    position: static;
    margin-right: 5px;
    font-size: $text_sm;
  }
  @include respond-below(xs) {
    font-size: $text_xs;
  }
}
.agentExperience {
  font-size: $text_sm;
  width: 100%;
  text-align: center;
  @include respond-above(sm) {
    white-space: nowrap;
  }
}
.agentExperienceMobile {
  display: none;
  @include respond-below(sm) {
    text-align: center;
    padding-top: 8px;
    display: block;
    font-size: $text_sm;
  }
  @include respond-below(xs) {
    font-size: $text_xs;
  }
}
.availability {
  display: none;
  @include respond-above(sm) {
    display: block;
    font-size: $text_sm;
    text-align: center;
  }
}

.hotline,
.hotline:active,
.hotline:link,
.hotline:visited {
  background: $blue-900;
  color: $white;
  text-decoration: none;
  padding: 4px;
  line-height: 1;
  font-weight: 700;
  margin-left: 4px;
  display: inline-block;

  @include respond-above(sm) {
    padding: 0;
    background: none;
    color: $blue-900;
    font-size: $text_sm;
    margin-top: 15px;
  }
  @include respond-above(lg) {
    font-size: $text_lg;
  }
  @include respond-below(xs) {
    font-size: $text_xs;
  }
}

.serviceElementText {
  white-space: pre-wrap;
  margin: 0;
  font-size: $text_sm;
  @include respond-above(sm) {
    text-align: left;
    margin: 1.8rem 0;
    width: fit-content;
  }
  @include respond-above(md) {
    margin: 2.5rem 0;
  }
  @include respond-below(xs) {
    font-size: $text_xs;
  }
}
.quoteBegin {
  composes: icons from '../Icon/Icon.module.scss';
  display: none;
  @include respond-above(sm) {
    display: block;
    font-size: 2rem;
    color: $blue-200;
    padding-right: 1rem;
    margin-top: 1.5rem;
  }
}

.quoteEnd {
  composes: icons from '../Icon/Icon.module.scss';
  display: none;
  @include respond-above(sm) {
    display: block;
    font-size: 2rem;
    padding-right: 1rem;
    margin-top: 1.5rem;

    color: $blue-200;
    -moz-transform: scale(-1);
    -o-transform: scale(-1);
    -webkit-transform: scale(-1);
    transform: scale(-1);
  }
}

.agentAdviceText {
  font-size: $text_sm;
  text-align: right;
  padding-right: 40px;
  width: 250px;
  @include respond-below(sm) {
    visibility: hidden;
  }
}

.agentAdviceTextMobile {
  display: block;
  @include respond-above(sm) {
    display: none;
  }
  @include respond-between(xs, sm) {
    font-size: $text_sm;
  }
  @include respond-below(xs) {
    font-size: $text_xs;
  }
}
