@import 'theme.scss';

$modal_background-color: $white !default;
$modal-overlay_transition: 0.3s !default;

.modal {
  background-color: $modal_background-color;

  @include respond-below(sm) {
    width: 100%;
    min-height: 100%;
  }
}

.overlay {
  opacity: 0;
  transition: $modal-overlay_transition;
}
