@import 'theme.scss';

$modal_background-color: $white !default;
$modal-overlay_transition: 0.3s !default;

.modal {
  background-color: $modal_background-color;
}

.overlay {
  opacity: 0;
  transition: $modal-overlay_transition;
}

@include respond-below(sm) {
  .modal:not(.static) {
    width: 100%;
    min-height: 100%;
  }
  .modal.static {
    max-width: 100%;
  }
}
