@import 'theme.scss';

$overlay_background-color: rgba(0, 0, 0, 0.5) !default;
$overlay_padding: 10px !default;

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $overlay_background-color;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 8000;
}

// TODO: refactor to mobile-first
@include respond-below(sm) {
  .overlay:not(.static) {
    overflow: auto;
    display: block;
  }
}
