.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  .content {
    padding: 10px;
  }
}
