$text_lg: 1.3rem;
$text_sm: 1.1rem;
$text_xs: 0.9rem;

// BLUE -> DEFAULT AIDU BLUE
// -------------------------
$blue: #2a4d8f;
$blue-dark: #1e3a6c;
$blue-dim: #22417b;
$blue-light: #c6d7f5;
$blue-lighter: #eef5ff;
$blue-subtle: #879eca;
$blue-bright: #eaf2ff;
$blue-gray: #94a6c7;
$blue-triprequest-header: #dae6f8;
$blue-white-51: #f4f8fe;
$blue-white: #e2ebfa;
$blue-spacer: #607aab;
$blue-gradient-end: #376da3;
$blue-ibe3-vacancies: #d9e4f8;

$aqua: #0284d2;
$aqua-dim: #0277bd;

// Link Blue
$link-blue: #0000cc;
$link-hover: #5da401;

// GRAY -> shadows only
// --------------------------
$gray-dim: #888;
$gray-bright: #e8e8e8;

// ORANGE
// --------------------------

$orange: #ffa404;
$orange-dim: #ff6e04;
$orange-light: #ffdb84;
$orange-lighter: #ffe4a3;
$orange-bright: #ffeec0;
$orange-brighter: #fff6df;

// RED
//---------------------------
$red: #da4833;
$red-light: #fff1ef;
$red-bright: #ffebea;

// GREEN
// ---------------------------

$green: #6bbc00;
$green-dim: #5fa800;
$green-medium: #72ca00;
$green-light: #e1f2cc;
$green-bright: #eaf7d9;
$green-white: #f4faec;
$green-white-51: #e1f2cc;

// BLACK AND WHITE
// ---------------------------

$white: #fff;
$black: #000;

$black-5: rgba(0, 0, 0, 0.1);
$black-10: rgba(0, 0, 0, 0.2);
