$text_lg: 1.3rem;
$text_sm: 1.1rem;
$text_xs: 0.9rem;

// BLUE -> DEFAULT AIDU BLUE
// -------------------------
$blue: green;
$blue-dark: green;
$blue-dim: green;
$blue-light: green;
$blue-lighter: green;
$blue-subtle: green;
$blue-bright: green;
$blue-gray: green;
$blue-triprequest-header: green;
$blue-white-51: green;
$blue-white: green;
$blue-spacer: green;
$blue-gradient-end: green;
$blue-ibe3-vacancies: green;

$aqua: green;
$aqua-dim: green;

// Link Blue
$link-blue: green;
$link-hover: green;

// GRAY -> shadows only
// --------------------------
$gray-dim: green;
$gray-bright: green;

// ORANGE
// --------------------------

$orange: #ffa404;
$orange-dim: #ff6e04;
$orange-light: #ffdb84;
$orange-lighter: #ffe4a3;
$orange-bright: #ffeec0;
$orange-brighter: #fff6df;

// RED
//---------------------------
$red: #da4833;
$red-light: #fff1ef;
$red-bright: #ffebea;

// GREEN
// ---------------------------

$green: #6bbc00;
$green-dim: #5fa800;
$green-medium: #72ca00;
$green-light: #e1f2cc;
$green-bright: #eaf7d9;
$green-white: #f4faec;
$green-white-51: #e1f2cc;

// BLACK AND WHITE
// ---------------------------

$white: #fff;
$black: #000;

$black-5: rgba(0, 0, 0, 0.1);
$black-10: rgba(0, 0, 0, 0.2);
