@import 'theme.scss';

$tooltip-button_font-size: 18px !default;
$tooltip-message_padding: 10px !default;
$tooltip-message_font-size: 14px !default;
$tooltip-message_box-shadow: 0 1px 4px 0 $black-10 !default;
$tooltip-message_border: 1px solid $black-10 !default;
$tooltip-message_background-color: $white !default;

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip__button {
  padding: 2px;
  margin: 0;
  background: transparent;
  border: 0;
  cursor: help;
  color: currentColor;
  text-align: left;
  font-size: $tooltip-button_font-size;
}

.tooltip__message {
  display: none;
}

.tooltip__message--visible-top {
  font-weight: 400;
  position: absolute;
  bottom: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  background: $tooltip-message_background-color;
  font-size: $tooltip-message_font-size;
  padding: $tooltip-message_padding;
  z-index: 9000;
  display: block;
  box-shadow: $tooltip-message_box-shadow;
  border: $tooltip-message_border;
}

.tooltip__message--visible + .tooltip__button {
  position: relative;
  z-index: 9001;
}

.tooltip__message--visible-right {
  composes: tooltip__message--visible-top;
  bottom: auto;
  left: calc(100% + 5px);
  top: 50%;
  transform: translateY(-50%);
}

.tooltip__message--visible-bottom {
  composes: tooltip__message--visible-top;
  bottom: auto;
  top: calc(100% + 5px);
}

.tooltip__message--visible-left {
  composes: tooltip__message--visible-top;
  bottom: auto;
  left: auto;
  right: calc(100% + 5px);
  top: 50%;
  transform: translateY(-50%);
}
