@import 'theme.scss';

$tooltip-button_font-size: 18px !default;
$tooltip-message_padding: 10px !default;
$tooltip-message_font-size: 14px !default;
$tooltip-message_box-shadow: 0 1px 4px 0 $blue-light !default;
$tooltip-message_border: 0 !default;
$tooltip-message_background-color: $white !default;
$tooltip-message_arrow-color: $blue-light !default;

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip__button {
  padding: 2px;
  margin: 0;
  background: transparent;
  border: 0;
  cursor: help;
  color: currentColor;
  text-align: left;
  font-size: $tooltip-button_font-size;
}

.tooltip__message {
  display: none;
}

.tooltip__message--visible-top + .tooltip__button,
.tooltip__message--visible-top-left + .tooltip__button,
.tooltip__message--visible-top-right + .tooltip__button,
.tooltip__message--visible-right + .tooltip__button,
.tooltip__message--visible-left + .tooltip__button,
.tooltip__message--visible-bottom + .tooltip__button {
  position: relative;
  z-index: 9001;
}

.tooltip__message--visible-top,
.tooltip__message--visible-top-left,
.tooltip__message--visible-top-right {
  font-weight: 400;
  position: absolute;
  bottom: calc(100% + 1rem);
  left: 50%;
  transform: translateX(-50%);
  background: $tooltip-message_background-color;
  font-size: $tooltip-message_font-size;
  padding: $tooltip-message_padding;
  z-index: 9000;
  display: block;
  box-shadow: $tooltip-message_box-shadow;
  border: $tooltip-message_border;
}

.tooltip__message--visible-top-right {
  right: 0;
  left: auto;
  transform: translateX(10%);
  text-align: right;
}

.tooltip__message--visible-top-left {
  left: 0;
  transform: translateX(-10%);
}

.tooltip__message--visible-right {
  composes: tooltip__message--visible-top;
  bottom: auto;
  left: calc(100% + 1rem);
  top: 50%;
  transform: translateY(-50%);
}

.tooltip__message--visible-bottom {
  composes: tooltip__message--visible-top;
  bottom: auto;
  top: calc(100% + 1rem);
}

.tooltip__message--visible-left {
  composes: tooltip__message--visible-top;
  bottom: auto;
  left: auto;
  right: calc(100% + 1rem);
  top: 50%;
  transform: translateY(-50%);
}

.tooltip__message--arrow-top,
.tooltip__message--arrow-top-left,
.tooltip__message--arrow-top-right {
  &:after,
  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
  }

  &:after {
    bottom: -10px;
    left: calc(50% - 10px);
    border-width: 5px 10px;
    border-color: $tooltip-message_background-color transparent transparent;
  }

  &:before {
    bottom: -12px;
    left: calc(50% - 11px);
    border-width: 6px 11px;
    border-color: $tooltip-message_arrow-color transparent transparent;
  }
}

.tooltip__message--visible-top-right {
  &:after {
    left: calc(80% - 10px);
  }

  &:before {
    left: calc(80% - 11px);
  }
}

.tooltip__message--visible-top-left {
  &:after {
    left: calc(20% - 10px);
  }

  &:before {
    left: calc(20% - 11px);
  }
}

.tooltip__message--arrow-right {
  composes: tooltip__message--arrow-top;

  &:after {
    bottom: calc(50% - 10px);
    left: -10px;
    border-width: 10px 5px;
    border-color: transparent $tooltip-message_background-color transparent
      transparent;
  }

  &:before {
    bottom: calc(50% - 11px);
    left: -12px;
    border-width: 11px 6px;
    border-color: transparent $tooltip-message_arrow-color transparent
      transparent;
  }
}

.tooltip__message--arrow-bottom {
  composes: tooltip__message--arrow-top;

  &:after {
    bottom: 100%;
    left: calc(50% - 10px);
    border-color: transparent transparent $tooltip-message_background-color;
  }

  &:before {
    bottom: 100%;
    left: calc(50% - 11px);
    border-color: transparent transparent $tooltip-message_arrow-color;
  }
}

.tooltip__message--arrow-left {
  composes: tooltip__message--arrow-right;

  &:after {
    left: 100%;
    border-color: transparent transparent transparent
      $tooltip-message_background-color;
  }

  &:before {
    left: 100%;
    border-color: transparent transparent transparent
      $tooltip-message_arrow-color;
  }
}
