@import '../../../style/_colors';

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip__button {
  padding: 2px;
  margin: 0;
  background: transparent;
  border: 0;
  cursor: help;
  color: currentColor;
  text-align: left;
  font-size: 18px;
}

.tooltip__message {
  display: none;
}

.tooltip__message--visible-top {
  font-weight: 400;
  position: absolute;
  bottom: calc(100% + 1rem);
  left: 50%;
  transform: translateX(-50%);
  background: $white;
  font-size: 14px;
  padding: 10px 10px;
  z-index: 9000;
  display: block;
  filter: drop-shadow(0 0 1px #999);
  color: #4284d2;
  border: 1px solid #2a4d8f;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: calc(50% - 10px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 10px;
    border-color: #fff transparent transparent;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -12px;
    left: calc(50% - 11px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 11px;
    border-color: #2a4d8f transparent transparent;
  }
}

.tooltip__message--visible + .tooltip__button {
  position: relative;
  z-index: 9001;
}

.tooltip__message--visible-right {
  composes: tooltip__message--visible-top;
  bottom: auto;
  left: calc(100% + 5px);
  top: 50%;
  transform: translateY(-50%);
}

.tooltip__message--visible-bottom {
  composes: tooltip__message--visible-top;
  bottom: auto;
  top: calc(100% + 5px);
}

.tooltip__message--visible-left {
  composes: tooltip__message--visible-top;
  bottom: auto;
  left: auto;
  right: calc(100% + 5px);
  top: 50%;
  transform: translateY(-50%);
}
