@import 'theme.scss';

$closebutton-background-color: $blue-dim !default;
$closebutton-color: $white !default;

.button {
  width: 18px;
  height: 18px;
  line-height: 1;
  text-align: center;
  background-color: $closebutton-background-color;
  user-select: none;
  border: 0;
  color: $closebutton-color;

  &:focus,
  &:hover {
    outline: 0;
  }
}
