@import 'theme.scss';

$CloseButton_background-color: $blue-dim !default;
$CloseButton_color: $white !default;

.button {
  width: 18px;
  height: 18px;
  line-height: 1;
  text-align: center;
  background-color: $CloseButton_background-color;
  user-select: none;
  border: 0;
  color: $CloseButton_color;

  &:focus,
  &:hover {
    outline: 0;
  }

  svg {
    position: relative;
    top: -1px;
  }
}
