@import '../../../style/_colors.scss';

.button {
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 18px;
  text-align: center;
  background-color: $blue-dim;
  color: $white;
  user-select: none;
  border: 0;
  margin: auto;
  padding: 0;
  &:focus,
  &:hover {
    outline: 0;
  }
  svg {
    fill: $white;
    position: relative;
    top: -1px;
  }
}
