@import '../_globals.scss';
@import '../_media-queries.scss';
@import '../_fonts.scss';

$text_lg: 1.3rem !default;
$text_sm: 1.1rem !default;
$text_xs: 0.9rem !default;

// BLUE -> DEFAULT AIDU BLUE
// -------------------------
$blue: #2a4d8f !default;
$blue-dark: #1e3a6c !default;
$blue-dim: #22417b !default;
$blue-light: #c6d7f5 !default;
$blue-lighter: #eef5ff !default;
$blue-subtle: #879eca !default;
$blue-bright: #eaf2ff !default;
$blue-gray: #94a6c7 !default;
$blue-triprequest-header: #dae6f8 !default;
$blue-white-51: #f4f8fe !default;
$blue-white: #e2ebfa !default;
$blue-spacer: #607aab !default;
$blue-gradient-end: #376da3 !default;
$blue-ibe3-vacancies: #d9e4f8 !default;

$aqua: #0284d2 !default;
$aqua-dim: #0277bd !default;

// Link Blue
$link-blue: #0000cc !default;
$link-hover: #5da401 !default;

// GRAY -> shadows only
// --------------------------
$gray-dim: #888 !default;
$gray-bright: #e8e8e8 !default;

// ORANGE
// --------------------------

$orange: #ffa404 !default;
$orange-dim: #ff6e04 !default;
$orange-light: #ffdb84 !default;
$orange-lighter: #ffe4a3 !default;
$orange-bright: #ffeec0 !default;
$orange-brighter: #fff6df !default;

// RED
//---------------------------
$red: #da4833 !default;
$red-light: #fff1ef !default;
$red-bright: #ffebea !default;

// GREEN
// ---------------------------

$green: #6bbc00 !default;
$green-dim: #5fa800 !default;
$green-medium: #72ca00 !default;
$green-light: #e1f2cc !default;
$green-bright: #eaf7d9 !default;
$green-white: #f4faec !default;
$green-white-51: #e1f2cc !default;

// BLACK AND WHITE
// ---------------------------

$white: #fff !default;
$black: #000 !default;

$black-5: rgba(0, 0, 0, 0.1) !default;
$black-10: rgba(0, 0, 0, 0.2) !default;

// WISHLIST //

$wishlist-color: #069;
