@import '../../style/_media-queries.scss';
@import '../../style/_colors.scss';
@import '../../style/_fonts.scss';

.trigger {
  &,
  &:focus,
  &:hover {
    font-size: 1.6rem;
    color: $aqua;
    background-color: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    cursor: pointer;
  }
}
