@import 'theme.scss';

$wishlistsharedialog-bgcolor: $aqua !default;
$wishlistsharedialog-color: $white !default;
$wishlistsharedialog-modal-color: $blue !default;
$wishlistsharedialog-modal-border: #adc6f2 !default;

button.trigger,
button.trigger:focus,
button.trigger:hover {
  position: relative;
  height: 24px;
  font-size: 14px;
  line-height: 16px;
  padding: 4px 11px;
  background-color: $wishlistsharedialog-bgcolor !important;
  border-radius: 2px;
  cursor: pointer;
  &,
  & > span {
    color: $wishlistsharedialog-color !important;
  }
  svg {
    position: relative;
    top: -2px;
  }
  .spinner {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 42px;
    & > div {
      width: 12px;
      height: 12px;
      background-color: $wishlistsharedialog-color;
    }
  }
  &.saving {
    .triggerText {
      opacity: 0;
    }
    .spinner {
      opacity: 1;
    }
  }
}

.modal {
  min-width: 290px;
  overflow-x: hidden;
  padding: 15px !important;
  h1 {
    display: flex !important;
    justify-content: space-between !important;
    color: $wishlistsharedialog-modal-color !important;
    font-size: 22px !important;
    font-weight: bold;
    margin-bottom: 10px !important;
    button,
    button:focus,
    button:hover {
      font-size: 14px;
      position: relative;
      top: -10px;
      left: 6px;
      height: auto;
      line-height: auto;
      padding: 0;
      color: $wishlistsharedialog-modal-color !important;
      background-color: transparent;
      border-radius: 0;
    }
    span {
      color: $wishlistsharedialog-modal-color !important;
    }
  }
}

.options {
  color: $wishlistsharedialog-modal-color;
  user-select: none;
}

.option {
  display: flex;
  width: 100%;
  padding: 15px 0;
  font-size: 16px;
  color: #2a4d8f !important;
  text-align: left;
  &,
  & > * {
    cursor: pointer;
  }
  svg {
    margin-right: 15px;
  }
  span {
    flex-grow: 1;
    color: $wishlistsharedialog-modal-color !important;
    svg {
      position: relative;
      left: 5px;
      top: -3px;
    }
  }
}

.option:not(:last-child) {
  border-bottom: 1px solid $wishlistsharedialog-modal-border;
}

svg.aquaIcon path {
  fill: $wishlistsharedialog-bgcolor;
}
