@import '../../style/_media-queries.scss';
@import '../../style/_colors.scss';
@import '../../style/_fonts.scss';

.wishlist h2 {
  h2 {
    font-family: inherit !important;
    max-width: 320px;
  }
}

.wishlist,
.deleteModal {
  button,
  button:focus,
  button:hover {
    background-color: inherit;
    border: 0;
    outline: 0;
    font-size: 100%;
    color: $blue-subtle;
  }
}

.dropdownHandler {
  background-color: $blue-dim;
  color: $white;

  button,
  button:focus,
  button:hover {
    background-color: inherit;
    color: $white;
    border: 0;
    outline: 0;
    font-size: 100%;
    span {
      color: $white;
    }
  }
}

div.handlerButton {
  background-color: transparent;
  padding: 0 4px;
  span {
    color: $white;
  }
}

div.openHandler,
div.openHandler span {
  color: $blue !important;
}

.openCount {
  color: $white;
}

.heartCounter {
  display: inline-block;
  position: relative;
}

.heart {
  display: inline-block;
  font-size: 1.3rem;
}

.count {
  display: inline-block;
  position: relative;
  left: -5px;
  top: -3px;
  padding: 1px 5px;
  background: $aqua;
  border-radius: 9px;
  margin-right: -4px;
}

.dropdownContent {
  width: 480px;
  padding: 20px !important;
  h1 {
    display: none;
    justify-content: space-between;
    color: $blue;
    font-family: 'Roboto Condensed';
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}

.listWrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.dropdownList {
  overflow-y: auto;
  width: 100%;
  max-height: 270px;
  height: 270px;
  border-bottom: 2px solid $blue-light;
}

.item {
  display: flex;
  padding: 10px 10px 10px 0;
  border-bottom: 1px solid $blue-light;
  cursor: pointer;
}

.itemImg {
  user-select: none;
  margin-right: 10px;
  width: 80px;
  min-width: 80px;
  height: 80px;
  background: url(https://imgplaceholder.com/80x80) no-repeat center center;
  background-size: cover;
}

.itemContent {
  flex-grow: 1;
  h2 {
    color: $blue;
    font-family: 'Roboto Condensed';
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
}

.location {
  color: $blue;
  opacity: 0.6;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.itemOptions {
  min-width: 18px;
  font-size: 1.2rem;
  padding-right: 5px;
  color: $aqua;
  button,
  button:hover,
  button:active {
    color: $aqua;
  }
}

.empty {
  padding: 20px;
  color: $blue;
  font-size: 1.25rem;
  line-height: 2rem;
  text-align: center;

  img {
    width: 100%;
    max-width: 268px;
    margin: 45px 10px;
  }

  div {
    text-align: center;
  }
}

.emptyHeader {
  font-weight: bold;
}

div.emptyHeart {
  margin: 20px 0 12px;
  color: $aqua;
}

.emptyText {
  display: inline-block;
  max-width: 400px;
}

.deleteOverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  align-content: center;
  color: #ebf1fc;
  font-size: 10rem;
  background-color: rgba(255, 255, 255, 0.5);
  svg {
    margin: 0 auto;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 11px;
  font-size: 1.3rem;
  font-weight: bold;

  button,
  button:focus,
  button:hover {
    height: 24px;
    font-size: 14px;
    line-height: 16px;
    padding: 4px 11px;
    color: $blue-subtle;
    background-color: $blue-bright;
    border-radius: 2px;
    svg {
      position: relative;
      top: -2px;
    }
  }
}

.deleteModal {
  width: 300px;
  padding: 12px;
  color: $blue;
  font-size: 1.3rem;

  h2 {
    font-family: 'Roboto Condensed';
    font-size: 2rem;
    line-height: 2rem;
  }
  p {
    margin: 1.2em 0 1em;
  }
}

button.primaryButton,
button.primaryButton:focus,
button.primaryButton:hover {
  color: $white;
  background-color: $blue;
}

button.mobileCloseButton,
button.mobileCloseButton:focus,
button.mobileCloseButton:hover {
  position: relative;
  top: -3px;
  font-size: 1.3rem;
  color: $blue;
}

@include respond-below(sm) {
  .wishlist {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .dropdownList {
    max-height: inherit;
    flex-grow: 1;
    height: 100%;
  }
  .item {
    padding-right: 0;
  }
  .itemOptions {
    font-size: 1.5rem;
    padding-right: 0;
    text-align: right;
  }
  button.mobileCloseButton {
    display: inline-block;
  }

  .deleteModal {
    width: 100%;
    padding: 12px;

    .buttons {
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 10px;
    }
  }

  .dropdownContent h1 {
    display: flex;
  }
}

@include respond-below(md) {
  .dropdownHandler {
    border-radius: 0.2em;
    padding: 0 2px;
  }
  .dropdownHandler span,
  .hideOnMobileModal {
    display: none;
  }
  div.handlerButton {
    padding: 5px 3px 3px;
  }
  .heartCounter {
    top: -3px;
  }

  .heart {
    font-size: 1.75rem;
  }

  .count {
    font-size: 0.5em;
  }
}
